
body {
	font-family: sans-serif;
	text-align: center;
}

.title {
	font-size: 20px;
}
.top {
	margin-top: 5%;
	margin-bottom: 5%;
}

a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#maincanvas {
	border: 1px solid #555;
	image-rendering: pixelated;
}

#gridcanvas {
	border: 1px solid transparent;
	position: absolute;
	left: 0;
	top: 0;
	background-color: transparent;
	pointer-events: none;
}
#gridbutton {
	margin-top:5px;
	padding: 5px;
	border: 1px solid black;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.canvas_container {
	display: inline-block;
	position: relative;
}

#style_display {
	width: 50%;
	height: 10em;
}

.spacer {
	height: 10%;
}

.icon {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
}

.icon.export {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAWUlEQVQ4T2NkoBAwkqj/P5p6RmQD0CWR1eJSR7IBRLkAl7eQNYPUgPhYXYDNAHTNcO9h8xs+AzDkiDUAOUBhrgHrHTUAexgQm7pxBiLZBhCrEUUdqbkRwxIAKHIYEeHiu5oAAAAASUVORK5CYII=);
}

